<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Car Dealership!</h1>
    <p>An app to collect all your favorite cars</p>
    <a href="/cars">Browse Cars</a>
</body>
</html>